.button {
  vertical-align: middle;
  margin-top: auto;
}

.container {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  padding: 40px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(133, 126, 126);
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background-color: rgba(39, 41, 40, 0.212);
  color: rgb(133, 126, 126);
  font-size: 14px;
}

input[type="text"]:focus {
  border: 3px solid rgb(158, 161, 131);
}

.message {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #1612113a;
  border: 2px solid rgb(133, 126, 126);
  color: rgb(133, 126, 126);
  text-align: center;
  font-size: 14px;
  padding: 6px;
  width: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 1%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.inputs {
  color: rgb(155, 155, 155);
  font-family: "Poppins", sans-serif;
}



.lets {
  color: rgb(155, 155, 155);
  opacity: 0.6;
  font-family: "Poppins", sans-serif;
  letter-spacing: 4px;
  text-align: center;
  word-spacing: 3px;
  font-size: 19px;
}

.something {
    color: rgb(155, 155, 155);
    opacity: 0.6;
    font-family: "Poppins", sans-serif;
    letter-spacing: 4px;
    text-align: center;
    word-spacing: 3px;
    font-size: 17px;
  }

  .together {
    color: rgb(155, 155, 155);
    opacity: 0.6;
    font-family: "Poppins", sans-serif;
    letter-spacing: 4px;
    text-align: center;
    word-spacing: 3px;
    font-size: 15px;
  }